#{extends 'main.html' /}
#{set title:'Spurwechsel' /}

<div class="container">

<!--       <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div> -->

	<!-- Jumbotron -->
	<div class="jumbotron">
	  <h1>Spurwechsel</h1>
	  <p class="lead">Vote vote vote today!!!</p>
	</div>

	<!-- main voting area -->
    <div class="row">
	    <div class="col-md-2">
		    <a href="#" class="thumbnail">
		      <img src="/public/images/sw-logo.png" alt="something about this picture">
		    </a>
		</div>
		<div class="col-md-8">
			<h3>DJ Name</h3>
			<p>Something meaningful ... Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			<div>
			<iframe width="600" height="100" src="//www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2FTechnoLiveSets%2Fdubfire-live-timewarp-2012-mannheim-germany-31-03-2012%2F&mini=&stylecolor=&hide_artwork=1&embed_type=widget_standard&embed_uuid=33e62a3a-a551-4d25-ad83-ce4870f22a86&hide_tracklist=1&hide_cover=1&autoplay=" frameborder="0"></iframe>
			</div>
		</div>
		<div class="col-md-2">
		  	<button type="button" class="btn btn-primary">
				Bring'em in!
			</button>
		</div>
    </div>
    
    <div class="row">
	    <div class="col-md-2">
		    <a href="#" class="thumbnail">
		      <img src="/public/images/sw-logo.png" alt="something about this picture">
		    </a>
		</div>
		<div class="col-md-8">
			<h3>DJ Name</h3>
			<p>Something meaningful ... Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			<div>
			<iframe width="600" height="100" src="//www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2FTechnoLiveSets%2Fdubfire-live-timewarp-2012-mannheim-germany-31-03-2012%2F&mini=&stylecolor=&hide_artwork=1&embed_type=widget_standard&embed_uuid=33e62a3a-a551-4d25-ad83-ce4870f22a86&hide_tracklist=1&hide_cover=1&autoplay=" frameborder="0"></iframe>
			</div>
		</div>
		<div class="col-md-2">
		  	<button type="button" class="btn btn-primary">
				Bring'em in!
			</button>
		</div>
    </div>
    
    <div class="row">
	    <div class="col-md-2">
		    <a href="#" class="thumbnail">
		      <img src="/public/images/sw-logo.png" alt="something about this picture">
		    </a>
		</div>
		<div class="col-md-8">
			<h3>DJ Name</h3>
			<p>Something meaningful ... Lorem ipsum dolor sit amet, eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
			<div>
			<iframe width="600" height="100" src="//www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2FTechnoLiveSets%2Fdubfire-live-timewarp-2012-mannheim-germany-31-03-2012%2F&mini=&stylecolor=&hide_artwork=1&embed_type=widget_standard&embed_uuid=33e62a3a-a551-4d25-ad83-ce4870f22a86&hide_tracklist=1&hide_cover=1&autoplay=" frameborder="0"></iframe>
			</div>
		</div>
		<div class="col-md-2">
		  	<button type="button" class="btn btn-primary">
				Bring'em in!
			</button>
		</div>
    </div>

    <!-- Site footer -->
	<div class="footer">
		<div class="col-md-2">
			<p>&copy; Spurwechsel 2013</p>
		</div>
		<div class="col-md-3">
			<p>Like us on Facebook</p>
		</div>
	</div>

</div> <!-- /container -->