<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		
		<!-- Bootstrap -->
    	<link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet" media="screen">
        
        <!-- Custom styles for this template -->
    	<link href="@{'/public/stylesheets/justified-nav.css'}" rel="stylesheet">
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.10.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="//code.jquery.com/jquery.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
    </body>
</html>
